<html>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    <h2><a href="{{ url }}">{{ title }}</a></h2>
    <h3>{{ release_date }}</h3>
    
    {% if not browser_session["user"] %}
    <p> Please sign up or log in to leave a review!</p>

    {% else %}
        <form action="/new/rating" method="POST">
            <input type="hidden" name="movie_id" value="{{movie_id}}">
            {% if user_has_rated|length>0 %}
            <h4>You rated this movie {{ user_has_rated[0].rating }}</h4>
            <label for="rating">Update this rating:</label>
            {% else %}
            <label for="rating">Rate this movie:</label>
            {% endif %}
            <input type="text" name="rating">
            <input type="submit" value="ENTER!">
        </form>
    {% endif %}

</html>
