{% extends "base.html" %}
{% block content %}
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}

    <h2><a href="{{ url }}">{{ movie.title }}</a></h2>
    <h3>Release date: {{ movie.release_date }}</h3>
    

    <form action="/new/rating" method="POST">
        <input type="hidden" name="movie_id" value="{{movie_id}}">
        {% if not predicted_rating %}
        <h4>You rated this movie {{ user_rating.rating }}</h4>
        <div class="form-group">
            <label for="rating">Update this rating:</label>
        </div>
        {% else %}
        <h4>We think you'll give this movie a {{ predicted_rating }}!</h4>
        <br>
        <div class="form-group">
            <label for="rating">Rate this movie:</label>
        </div>
        {% endif %}
        <div class="form-group">
            <input type="text" name="rating">
            <input type="submit" value="ENTER!">
        </div>
    </form>


{% endblock %}