<html>
    <form action="/signup" method="POST">
        <label for="email">Enter email address</label>
        <input type="text" name="email">
        <label for ="password">Enter new password</label>
        <input type="text" name="password">
        <label for ="passwordvalidation">Enter password again</label>
        <input type="text" name="passwordvalidation">

        <label for ="age">Enter age</label>
        <input type="text" name="age">

        <label for ="occupation">Enter occupation</label>
        <input type="text" name="occupation">

        <label for ="zip">Enter zip code</label>
        <input type="text" name="zip">

        <input type="submit" value="SIGN UP!">
    </form>
</html>